html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#hud {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  text-shadow: 0 0 10px black;
}

canvas {
  display: block;
}
